.App {
  text-align: center;
  /* height: 100%; */
  /* display: flex; */
  flex-direction: column;
  background-color: #f1f1f1;
}

.nav {
  background-color: #f1f1f1c3;
  display: flex;
  padding: 10px 10px;
  height: "60px";
}

@media (prefers-reduced-motion: no-preference) {
  .stockwatch-logo {
    cursor: pointer;
    animation: App-logo-spin infinite 60s linear;
  }
}

.App-header {
  background-color: #f1f1f1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0a0a0a;
  overflow: hidden;
  padding-top: 10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
